<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "net.keepiteasy.weather"
        version   = "1.0.0">
    <name>Easy Weather</name>

    <description>
        A GPS based weather service returning Kelvin data
    </description>

    <author href="http://jeffreyhann.ca" email="jeffhann@gmail.com">
        Jeffrey Hann
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />
    <feature name="http://api.phonegap.com/1.0/geolocation" />
    <feature name="http://api.phonegap.com/1.0/network" />
    <feature name="http://api.phonegap.com/1.0/file" />
    <feature name="http://api.phonegap.com/1.0/battery" />

    <preference name="phonegap-version" value="2.1.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
    <preference name="show-splash-screen-spinner" value="false" />
</widget>
