//@import 'reset.css';
@import 'grid.less';


//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
@columns: 12;
@column-width: 60;
@gutter-width: 20;

// Remove the definition below for a pixel-based layout
@total-width: 100%;


////////////
// LAYOUT //
////////////

html, body {
	height: 95%;
}

body {
	font-family:Helvetica, Arial, sans-serif;
	width: auto;
	margin: 20px;
	font-size: 16px;
	
	h1, h2, h3, h4, h5 {
		text-align: center;
		margin-bottom: 0px;
	}
}

a {
	color: #000000;
	text-decoration: none;
}

#location {
	text-align: center;
	margin-top: 0px;
}

body.dark {
	background-color: #111111;
}

body.gray {
	background-color: #CCCCCC;
}

body.blue {
	background-color: #47CCF5;
}

#main {
	margin: 10px auto;
	max-width: 940px;
	background-color: #FFFFFF;
	padding: 10px;
	min-height: 100%;
}

section {
	.column(8);
	margin: 0 auto;
	float: none;
	display: block;
	
	header {
		h2 {
			margin-bottom: 0px;
		}
	}
	
	#conditionsContainer {
		border-bottom: #DDD solid 1px;
		padding-bottom: 10px;
		margin-bottom: 10px;
		
		article {
			margin: 2px 0px;
		}
		
		h3 {
			margin-bottom: 0px;
		}
		
		span {
			font-style:  italic;
			display: block;
			margin-bottom: 10px;
		}
	}
}

#versionLog {
	display: none;
	border: 4px solid;
	padding: 0px 10px;
	cursor: pointer;

	span {
		font-weight: 800;
	}
	
	ul {
		list-style: none;
		padding: 0px;
		
		li {
			margin: 0px;
		}
	}
}

#loading {
	margin: 0 auto;
	width: 220px;
	height: 220px;
	background-image: url('/assets/images/loading.gif');
}

article {
	text-align: center;
	margin: 0 auto;
	
	p {
		display: inline;
	
		&:first-child {
			font-weight: 800;
			display: inline;
			margin-right: 10px;
			
			&:after {
				content: ":";
			}
		}
	}
	
	&#forecastContainer {
		width: 100%;
		float:  left;
		clear:  both;
		
		div {
			width: 25%;
			float: left;
			left: 8%;
			position: relative;
			margin: 0px 10px;
			
			p {
				display:  block;
				
				&:first-child {
					margin-right: 0px;
					
					&:after {
						content: "";
					}
				}	
			}
		}
	}
}
	
@media screen and (max-width: 720px) {

	article {
		&#forecastContainer {
			div {
				width: 45%;
				left: 4%;
				margin: 0px 4px;
			}
			
			div:first-child {
				width: 100%;
				left: 0px;
			}
		}
	}
	
	p {
		font-size: 10px;
	}
}