#main
  %a{:href => "https://play.google.com/store/apps/details?id=com.keepiteasy.easyweather", :style => "display: inline-block; cursor: pointer;", :target => "_blank"}
    %img{:alt => "Android app on Google Play", :src => "https://developer.android.com/images/brand/en_app_rgb_wo_45.png"}/
  %h1#siteHeader Easy Weather
  %section#content
  %div{:style => "clear: both;"}