%a{:href => "https://github.com/obihann/Easy-Weather/"}
  %img{:alt => "Fork me on GitHub", :src => "https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png", :style => "position: absolute; top: 0; right: 0; border: 0; z-index: 100;"}/
%section#overlay
%section#map