!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
      %title EasyWeather
      %link{:href => "http://cloud.keepiteasy.net/css/fluid.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
      %script{:src => "http://cloud.keepiteasy.net/libs/modernizr.custom.89661.js", :type => "text/javascript"}
      %script{:src => "http://cloud.keepiteasy.net/libs/json2.js", :type => "text/javascript"}
      %script{:src => "http://cloud.keepiteasy.net/libs/jquery.js", :type => "text/javascript"}
      %script{:src => "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=weather", :type => "text/javascript"}
      %script{:src => "http://cloud.keepiteasy.net/libs/underscore-min.js", :type => "text/javascript"}
      %script{:src => "http://cloud.keepiteasy.net/libs/backbone-min.js", :type => "text/javascript"}
      %script{:src => "assets/js/init.js", :type => "text/javascript"}
      %script{:src => "assets/js/router.js", :type => "text/javascript"}
      %script{:src => "assets/js/models/app.js", :type => "text/javascript"}
      %script{:src => "assets/js/models/forecast.js", :type => "text/javascript"}
      %script{:src => "assets/js/models/conditions.js", :type => "text/javascript"}
      %script{:src => "assets/js/collections/forecast.js", :type => "text/javascript"}
      %script{:src => "assets/js/collections/conditions.js", :type => "text/javascript"}
      %script{:src => "assets/js/views/loading.js", :type => "text/javascript"}
      %script{:src => "assets/js/views/map.js", :type => "text/javascript"}
      %script{:src => "assets/js/views/conditions.js", :type => "text/javascript"}
      %script{:src => "assets/js/views/forecast.js", :type => "text/javascript"}
      %script{:src => "assets/js/views/app.js", :type => "text/javascript"}
  %body