<article id="conditionsContainer">
	<h2>Today</h2>
	<section id="conditionsMain">
		<img src="http://icons-ak.wxug.com/i/c/k/<%= icon %>.gif">
		<h3 id="currentTemp"><%= temp %> K</h3>
		<span>(<%= temp_c %>° C)</span>
	</section>
	<section id="conditionsDetails">
		<article>
			<p>Feels Like</p><p><%= feelslike %>° C</p>
		</article>
		<article>
			<p>Humidity</p><p><%= humidity %></p>
		</article>
		<article>
			<p>UV Index</p><p><%= UV %></p>
		</article>
		<article>
			<p>Visibility</p><p><%= visibility %>km</p>
		</article>
		<article>
			<p>Precipitation</p><p><%= precip %>mm</p>
		</article>
		<article>
			<p>Windchill</p><p><%= windchill %></p>
		</article>
	</section>
	<p id="conditionsTime"><%= time %></p>
</article>