<article id="conditionsContainer">
	<h2>Today</h2>
	<img src="http://icons-ak.wxug.com/i/c/k/<%= icon %>.gif">
	<h3 id="currentTemp"><%= temp %> K</h3>
	<span>(<%= temp %>° C)</span>
	<article>
		<p>Feels Like</p><p><%= feelslike %></p>
	</article>
	<article>
		<p>Humidity</p><p><%= humidity %></p>
	</article>
	<article>
		<p>UV Index</p><p><%= UV %></p>
	</article>
	<article>
		<p>Visibility</p><p><%= visibility %>km</p>
	</article>
	<article>
		<p>Precipitation</p><p><%= precip %>mm</p>
	</article>
	<article>
		<p>Windchill</p><p><%= windchill %></p>
	</article>
	<p><%= time %></p>
</article>